@charset "utf-8";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 10px;
}

.title-nd-name {
  display: flex;
  justify-content: space-between;

  gap: 20px;
}
