@charset "utf-8";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;
  border-radius: 20px;
}

.title-nd-name {
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-nd-name > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-list-text {
  color: #feb198;
}
