@charset "utf-8";

.work-nd-done {
  padding: 20px;

  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.del-nd-done {
  display: flex;
  justify-content: space-between;
}

.del-btn {
  background-color: #feb198;
  padding: 8px 10px;

  border: none;
  border-radius: 10px;

  font-size: 1rem;
}

.del-btn:hover,
.del-btn:focus {
  background-color: rgba(254, 177, 152, 0.6);
}

.done-btn {
  padding: 0px 26px;

  border: none;
  border-radius: 10px;

  font-size: 1rem;
  background-color: gray;
  color: white;
}

.done-btn:hover,
.done-btn:focus {
  background-color: rgba(128, 128, 128, 0.5);
  color: #333333;
}

.edit-btn {
  padding: 0px 26px;

  border: 0.1rem solid gray;
  border-radius: 10px;

  font-size: 1rem;
  background-color: #fff;
}
